<!--Controles de Filtrado-->
<div class="row">
    <div id="searchPageStats_div" class="col-sm-12">
        <div class="searchbar" id="searchbar">
            <div class="controls">
                <span class="searchbar-control">
                    <input placeholder="Desde:" class="datepicker from" type="text" id="fromStats"
                           data-date-format="yyyy-mm-dd" datepicker-popup="{{format}}" ng-model="from" ng-click="openFrom($event)"
                           is-open="fromOpened" datepicker-options="dateOptions" date-disabled="disabled(date, mode)"
                           ng-required="true" close-text="Cerrar" clear-text="Limpiar" current-text="Hoy">
                </span>
                <span class="searchbar-control">
                    <input placeholder="Hasta:" class="datepicker to" type="text" id="toStats" data-date-format="yyyy-mm-dd"
                           data-date-format="yyyy-mm-dd" datepicker-popup="{{format}}" ng-model="to" ng-click="openTo($event)"
                           is-open="toOpened" datepicker-options="dateOptions" close-text="Cerrar" clear-text="Limpiar" current-text="Hoy"
                            min-date=from>
                </span>
                <span class="searchbar-control">
                    <img class="lupaStats pointer" src="assets/images/search-btn.png">
                </span>
                <div style="clear:right"></div>
            </div>
        </div>
    </div>
</div>
